CREATE TABLE customer_profiles_lyst1749925722389 (
	`CustomerID` DECIMAL(38, 0) NOT NULL, 
	`Age` DECIMAL(38, 0) NOT NULL, 
	`Gender` VARCHAR(6) NOT NULL, 
	`Location` VARCHAR(5), 
	`JoinDate` VARCHAR(8) NOT NULL
);
