CREATE TABLE product_inventory_lyst1749925727340 (
	`ProductID` DECIMAL(38, 0) NOT NULL, 
	`ProductName` VARCHAR(11) NOT NULL, 
	`Category` VARCHAR(15) NOT NULL, 
	`StockLevel` DECIMAL(38, 0) NOT NULL, 
	`Price` DECIMAL(38, 2) NOT NULL
);
