CREATE TABLE sales_transaction_lyst1749925731351 (
	`TransactionID` DECIMAL(38, 0) NOT NULL, 
	`CustomerID` DECIMAL(38, 0) NOT NULL, 
	`ProductID` DECIMAL(38, 0) NOT NULL, 
	`QuantityPurchased` DECIMAL(38, 0) NOT NULL, 
	`TransactionDate` VARCHAR(8) NOT NULL, 
	`Price` DECIMAL(38, 2) NOT NULL
);
